# 7.1A

In [1]:
import pandas as pd
import json
import pygeohash
import math

In [3]:
df = pd.read_parquet('~/dsc650/dsc650/assignments/assignment03/results/routes.parquet')

In [4]:
df.head()

,airline,src_airport,dst_airport,codeshare,equipment
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2]
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2]

In [5]:
def make_key(row):
    try:
        # not sure if row.airline.get('iata') would be better
        airline = row.airline['iata']
        src_airport = row.src_airport['iata']
        dst_airport = row.dst_airport['iata']
        key = f'{src_airport}{dst_airport}{airline}'
    except:
        # Provide a default value, just in case
        key = 'ZZZZZZZZ'
    return(key)

In [6]:
df['key'] = df.apply(make_key, axis=1)
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B

In [7]:
def partition_keys(row):
    key_first_char = row.key[0]
    if key_first_char in ['C','D']:
        key_first_char = 'C-D'
    if key_first_char in ['E','F']:
        key_first_char = 'E-F'
    if key_first_char in ['G','H']:
        key_first_char = 'G-H'
    if key_first_char in ['I','J']:
        key_first_char = 'I-J'
    if key_first_char in ['K','L']:
        key_first_char = 'K-L'
    if key_first_char in ['O','P']:
        key_first_char = 'O-P'
    if key_first_char in ['Q','R']:
        key_first_char = 'Q-R'
    if key_first_char in ['S','T']:
        key_first_char = 'S-T'
    if key_first_char in ['W','X']:
        key_first_char = 'W-X'
    if key_first_char in ['Y','Z']:
        key_first_char = 'Y-Z'
    return(key_first_char)

In [8]:
df['kv_key'] = df.apply(partition_keys, axis=1)
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D

In [9]:
# partition into the sections
df.to_parquet('./results/kv/',partition_cols=['kv_key'])

# 7.1B

In [10]:
import hashlib

def hash_key(key):
    # returns a hashed version of the string passed in
    m = hashlib.sha256()
    m.update(str(key).encode('utf-8'))
    return m.hexdigest()

def make_hash_key(row):
    # returns first character of hash of 'key' from row
    key = row.key
    return(hash_key(key)[0])

In [11]:
df['hash_key'] = df.apply(make_hash_key, axis=1)
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key,hash_key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A,6
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A,9
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A,1
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D,3
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D,1

In [12]:
# parition by first char of hash
df.to_parquet('./results/hash/',partition_cols=['hash_key'])

# 7.1C

In [13]:
datacenter_dict = [
    {
        "location": "west",
        "city": "The Dalles, Oregon",
        "latitude": 45.5945645,
        "longitude": -121.1786823
    },
    {
        "location": "central",
        "city": "Papillion, NE",
        "latitude": 41.1544433,
        "longitude": -96.0422378
    },
    {
        "location": "east",
        "city": "Loudoun County, Virginia",
        "latitude": 39.08344,
        "longitude": -77.6497145
    }
]

In [14]:
for datacenter in datacenter_dict:
    datacenter['geohash'] = pygeohash.encode(datacenter['latitude'], datacenter['longitude'])
    
datacenter_dict

[{'location': 'west',
  'city': 'The Dalles, Oregon',
  'latitude': 45.5945645,
  'longitude': -121.1786823,
  'geohash': 'c21g6s0rs4c7'},
 {'location': 'central',
  'city': 'Papillion, NE',
  'latitude': 41.1544433,
  'longitude': -96.0422378,
  'geohash': '9z7dnebnj8kb'},
 {'location': 'east',
  'city': 'Loudoun County, Virginia',
  'latitude': 39.08344,
  'longitude': -77.6497145,
  'geohash': 'dqby34cjw922'}]

In [15]:
def datacenter_search(latitude, longitude, datacenter_dict):
    # returns the 'location' of closest datacenter
    try:
        search_hash = pygeohash.encode(latitude, longitude)
        closest_datacenter_distance = math.inf
        for datacenter in datacenter_dict:
            dist = pygeohash.geohash_haversine_distance(search_hash, datacenter['geohash'])
            if dist < closest_datacenter_distance:
                closest_datacenter = datacenter
                closest_datacenter_distance = dist
        return(closest_datacenter['location'])
    except Exception as e:
        # Just in case of bad input, have a default value
        return('central')

def make_datacenter_key(row):
    try:
        # lets assume lat and long exist
        lat = row.src_airport['latitude']
        long = row.src_airport['longitude']
    except:
        # Oh, they don't?
        lat = None
        long = None
    datacenter_key = datacenter_search(lat,long,datacenter_dict)
    return(datacenter_key)

In [19]:
#testing things out
datacenter_search(49.1499988, -78.91879,datacenter_dict)

'east'

In [24]:
datacenter_search(75.5945645,-100.1745633,datacenter_dict)

'west'

In [25]:
df['location'] = df.apply(make_datacenter_key, axis=1)
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key,hash_key,location
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A,6,east
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A,9,east
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A,1,east
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D,3,west
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D,1,west

In [26]:
#partition by the locations
df.to_parquet('./results/geo/',partition_cols=['location'])

# 7.1D

In [27]:
def balance_partitions(keys, num_partitions):
    # sort the keys, if they aren't already
    keys.sort()
    # partition_size should be about len(keys) / num_partitions
    partition_size, remainder = divmod(len(keys), num_partitions)    
    partitions = []
    for i in range(num_partitions):
        start_index = i * partition_size + min(i, remainder)
        finish_index = (i + 1) * partition_size + min(i + 1, remainder)
        partition = keys[start_index:finish_index]
        partitions.append(partition)
    return(partitions)

keylist = [9,1,3,2,4,6,5,7,8]

for i in range(1,len(keylist)+1):
    print('--------------|-----------------------------------------------')
    print(f'{i} partitions: | {balance_partitions(keylist,i)}')

--------------|-----------------------------------------------
1 partitions: | [[1, 2, 3, 4, 5, 6, 7, 8, 9]]
--------------|-----------------------------------------------
2 partitions: | [[1, 2, 3, 4, 5], [6, 7, 8, 9]]
--------------|-----------------------------------------------
3 partitions: | [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------|-----------------------------------------------
4 partitions: | [[1, 2, 3], [4, 5], [6, 7], [8, 9]]
--------------|-----------------------------------------------
5 partitions: | [[1, 2], [3, 4], [5, 6], [7, 8], [9]]
--------------|-----------------------------------------------
6 partitions: | [[1, 2], [3, 4], [5, 6], [7], [8], [9]]
--------------|-----------------------------------------------
7 partitions: | [[1, 2], [3, 4], [5], [6], [7], [8], [9]]
--------------|-----------------------------------------------
8 partitions: | [[1, 2], [3], [4], [5], [6], [7], [8], [9]]
--------------|-----------------------------------------------
9 partitions: | [[1], [2], [3], [4], [5], [6], [7], [8], [9]]